asgiref==3.8.1
cffi==1.16.0
chardet==5.2.0
cryptography==42.0.7
Django==5.0.4
docopt==0.6.2
mysqlclient==2.2.4
num2words==0.5.13
pillow==10.3.0
pycparser==2.22
reportlab==4.2.0
sqlparse==0.5.0
tzdata==2024.1
